@model TradeSystem.Models.LetterOfCredit

<h2>Letter of Credit Details</h2>
<dl class="row">
    <dt class="col-sm-2">Applicant</dt>
    <dd class="col-sm-10">@Model.ApplicantName</dd>
    <dt class="col-sm-2">Beneficiary</dt>
    <dd class="col-sm-10">@Model.BeneficiaryName</dd>
    <dt class="col-sm-2">Amount</dt>
    <dd class="col-sm-10">@Model.Amount</dd>
    <dt class="col-sm-2">Currency</dt>
    <dd class="col-sm-10">@Model.Currency</dd>
    <dt class="col-sm-2">Expiry Date</dt>
    <dd class="col-sm-10">@Model.ExpiryDate.ToShortDateString()</dd>
    <dt class="col-sm-2">Status</dt>
    <dd class="col-sm-10">@Model.Status</dd>
</dl>

@if (User.IsInRole("Admin"))
{
    <!-- Quick action: Issue BG directly for this LC -->
    <a class="btn btn-outline-primary"
       href="@Url.Action("Create", "BankGuarantee", new { lcId = Model.LcId })">
        Issue Bank Guarantee for this LC
    </a>
}
<a asp-action="Index" class="btn btn-secondary">Back to List</a>


